.container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 66px 0;
	align-items: center;
}

.splitBackground {
  width: 100%;
  height: 900px; 
  display: flex;
  position: relative;
	align-items: center;
  overflow: hidden;
}

.splitBackground::before,
.splitBackground::after {
  content: '';
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.splitBackground::before {
  left: 0;
  background-image: url('../../../../../../assets//welcome_bg1.png');
	z-index: 3;
}

.splitBackground::after {
  right: 0;
  background-image: url('../../../../../../assets//welcome_bg2.png');
	z-index: 1;
}

.content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.left {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	z-index: 5;
	width: 43%;
}

.subtitle {
	position: relative;
}

.subtext {
	text-transform: uppercase;
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 15px;
	line-height: 154%;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #5c8692;
	margin-left: 31px;
}

.subtext::before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 22px;
	height: 22px;
	background-image: url('../../../../../../assets/welcome_ico.svg');
}

.title {
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 70px;
	line-height: 115%;
	letter-spacing: -0.01em;
	color: #141414;
	margin-bottom: 24px;
}

.text {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 19px;
	line-height: 170%;
	color: #555;
	margin-bottom: 34px;
}

.btn {
	padding: 24px 36px;
	background: #5c8692;
	font-family: var(--font-family);
	font-weight: 800;
	font-size: 14px;
	line-height: 125%;
	letter-spacing: 0.12em;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	transition: background-color 0.4s ease;
	display: inline-block;
  text-decoration: none;
	border: none;
	border-radius: 4px;
}

.btn:hover {
	background: #566f75;
}

.border rect {
	width: 100%;
}

.border {
	position: relative;
	z-index: 2;
}

.right {
	position: relative;
}

.img {
	width: 595px;
	height: 530px;
	position: absolute;
	z-index: 5;
	left: -70px;
	top: 13%;
}

@media (max-width: 1360px) {
	.splitBackground {
		padding: 60px 0;
		height: 100%;
	}

	.right {
		position: static;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.border {
		display: none;
	}

	.img {
		position: static;
		width: 510px;
    height: 470px;
	}

	.title {
		font-size: 48px;
	}

	.text,
	.subtext {
		font-size: 15px;
	}
}

@media (max-width: 1260px) {
	.img {
		width: 480px;
	}
}

@media (max-width: 1200px) {
	.container {
		padding: 0;
	}

	.content {
		justify-content: center;
    flex-direction: column-reverse;
	}

	.splitBackground {
		overflow: visible;
		display: block;
	}

	.splitBackground::before {
		width: 100%;
    z-index: -1;
	}

	.splitBackground::after {
		display: none;
	}

	.left {
		width: 100%;
		justify-content: center;
		align-items: center;
	}

	.img {
		position: static;
		width: 580px;
		height: 480px;
		margin-bottom: 50px;
	}

	.title {
		font-size: 30px;
	}

	.text,
	.subtext,
	.btn {
		font-size: 14px;
	}

	.text {
		text-align: center;
	}

	.subtext {
		margin-bottom: 12px;
	}
}

@media (max-width: 910px) {
	.title {
		font-size: 24px;
	}

	.text,
	.subtext,
	.btn {
		font-size: 12px;
	}

	.subtext {
		margin-bottom: 12px;
	}
}

@media (max-width: 768px) {
	.splitBackground {
		padding: 60px 0;
	}

	.text,
	.subtext,
	.btn {
		font-size: 10px;
	}

	.subtext {
		margin-bottom: 12px;
	}
	
	.btn {
		padding: 20px 36px 20px 36px;
	}
}

@media (max-width: 640px) {
	.img {
		width: 90%;
    height: 90%;
		margin-bottom: 40px;
	}

	.btn {
		width: 90%;
	}

	.title {
		font-size: 20px;
		text-align: center;
	}

	.subtext::before {
		display: none;
	}

	.subtext {
		margin-left: 0;
	}
}

@media (max-width: 425px) {
	.img {
		width: 100%;
    height: 100%;
	}

	.btn {
		width: 100%;
	}

	.title {
		font-size: 14px;
	}
}