.nav {
	display: flex;
	gap: 125px;
}

.elem {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.title {
	font-weight: 700;
	font-size: 19px;
	line-height: 140%;
	color: #fff;
	font-family: var(--font-family);
	text-transform: uppercase;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.link {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 17px;
	line-height: 200%;
	letter-spacing: -0.01em;
	color: #fff;
	text-decoration: none;
	transition: all 0.4s ease;
}

.link:hover {
	color: #7a9ca5;
}

@media (max-width: 1440px) {
	.nav {
		gap: 90px;
	}
}

@media (max-width: 910px) {
	.nav {
		width: 100%;
	}

	.title {
		font-size: 16px;
	}
	
	.link {
		font-size: 14px;
	}
}

@media (max-width: 425px) {
	.nav {
		gap: 60px;
	}

	.elem {
		gap: 15px;
	}

	.title {
		font-size: 14px;
	}
	
	.link {
		font-size: 10px;
	}

}