.experts {
	padding: 120px 0;
	background-color: #fff;
}

.container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	align-items: center;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.subtext {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 15px;
	line-height: 154%;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-align: center;
	color: #5c8692;
	margin-bottom: 10px;
}

.title {
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 45px;
	line-height: 130%;
	letter-spacing: -0.01em;
	color: #141414;
	text-align: center;
	margin-bottom: 45px;
}

.items {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 60%;
}

.item {
	display: flex;
	gap: 32px;
	align-items: flex-start;
	justify-content: center;
}

.item:not(:last-child) {
	padding-bottom: 36px;
	border-bottom: 1px solid #d3d3d3;
}

.item:not(:first-child) {
	margin-top: 36px;
}

.icon {
	border: 1px solid #1e2c30;
	width: 100px;
	height: 100px;
	background-color: #f2fcff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
}

.ico {
	flex-shrink: 0;
}

.context {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	gap: 8px;
}

.subtitle {
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 24px;
	line-height: 120%;
	color: #141414;
}

.text {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 18px;
	line-height: 175%;
	color: #555;
}

@media (max-width: 1300px) {
	.title {
		font-size: 38px;
	}
}

@media (max-width: 1200px) {
	.experts {
		padding: 60px 0;
	}

	.title {
		font-size: 30px;
	}

	.subtext,
	.text,
	.subtitle {
		font-size: 12px;
	}

	.icon {
		width: 80px;
		height: 80px;
	}
}

@media (max-width: 1024px) {
	.items {
		width: 70%;
	}
}

@media (max-width: 768px) {
	.title {
		font-size: 24px;
		margin-bottom: 30px;
	}

	.subtext,
	.text,
	.subtitle
	{
		font-size: 10px;
	}

	.items {
		width: 100%;
		gap: 30px;
	}

	.item {
		gap: 20px;
	}

	.icon {
		width: 50px;
		height: 50px;
	}

	.ico {
		width: 35px;
		height: 35px;
	}

	.item:not(:last-child) {
		padding-bottom: 0;
		border: none;
	}

	.item:not(:first-child) {
		margin-top: 0;
	}
}

@media (max-width: 425px) {
	.title {
		font-size: 14px;
	}

	.item {
		flex-direction: column;
		align-items: center;
	}

	.context {
		align-items: center;
		text-align: center;
	}
}