.footer {
  background-color: #1e2c30;
  width: 100%;
}

.content {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 66px 0;
	align-items: center;
}

.top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}