.hours,
.days {
	display: flex;
	flex-direction: column;
	gap: 25px;
	justify-content: start;
}

.title {
	font-weight: 700;
	font-size: 19px;
	line-height: 140%;
	color: #fff;
	font-family: var(--font-family);
	text-transform: uppercase;
}

.days {
	gap: 8px;
}

.text {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 17px;
	line-height: 200%;
	letter-spacing: -0.01em;
	color: #fff;
}
