.header {
	padding: 20px 60px; 
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	z-index: 995;
	top: 0;
  left: 0;
  width: 100%;
	background-color: white;
}

.start {
	display: flex;
	gap: 46px;
	align-items: center;
}

.end {
	display: flex;
	gap: 32px;
	align-items: center;
}