.header {
	padding: 38px 60px; 
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.start {
	display: flex;
	gap: 46px;
	align-items: center;
}

.end {
	display: flex;
	gap: 32px;
	align-items: center;
}

