.error {
	font-family: var(--second-family);
  text-align: center;
  font-size: 18px;
	color: #c0392b;
  padding: 40px 0;
}

.spinner {
	font-family: var(--second-family);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  font-size: 18px;
  color: #888;
  animation: blink 1.5s infinite;
}

@keyframes blink {
  0% { opacity: 0.2; }
  50% { opacity: 1; }
  100% { opacity: 0.2; }
}