.navtoogle {
  display: none;
}

@media (max-width: 1024px) {
	.navtoogle {
		display: flex;
		flex-direction: column;
		gap: 3px;
		border-radius: 5px;
		padding: 13px;
		border: none;
		background-color: #fff;
  }
}
