:root {
  --font-family: "Manrope", sans-serif;
  --second-family: "Playfair Display", sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

ul, ol {
	list-style: none;
}
