.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  transition: all 0.4s ease;
}

.logo:hover .text  {
  color: #7a9ca5;
}

.text {
  font-family: var(--second-family);
  font-weight: 700;
  line-height: 125%;
  transition: all 0.4s ease;
}

.header .text {
  font-size: 28px;
  color: #141414;
}

.footer .text {
  font-size: 40px;
  color: #ffffff;
}

.menu .text {
  font-size: 20px;
  color: #ffffff;
}

.headerIcon {
  width: 33px;
  height: 33px;
  stroke: #7A9CA5;
}

.footerIcon {
  width: 65px;
  height: 65px;
  stroke: #5C8692;
}

.menuIcon {
  width: 33px;
  height: 33px;
  stroke: #ffffff;
}

@media (max-width: 425px) {
  .header .text,
  .footer .text {
    font-size: 24px;
  }

  .footerIcon {
    width: 33px;
    height: 33px;
  }
}